
body{
    background:black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 100px;
   max-width: auto;
}
button{
box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
    height: 75px ;
    width: 300px;
    margin: 30px 15px 15px 75px;
    border-radius: 45%;
    

}
button:hover{
    box-shadow: 0 0 5px rgb(242, 62, 197),
    0 0 25px rgb(219, 90, 172), 0 0 50px rgb(236, 16, 137), 
    0 0 100px rgb(140, 11, 123), 0 0 200px rgb(226, 3, 151);
}
button{
    background-color: black;
    color: rgb(175, 37, 150);
}
a{
    color:cyan;
    text-decoration: none;
}
a:hover{
    color:rgb(244, 70, 197);
    font-size: large;
    font-weight: bold;
    font-style: oblique;
    text-transform: uppercase;
}